/* style.css */

/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Style pour l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style pour la section principale */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Style pour les images */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Style pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
